body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  background-color: rgb(148, 140, 140);
  color: white;
}

.title__404 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-top: 15%;
}

.container__scrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.scrapper__get {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 5%;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.scrapper__h2 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #a64244;
}

.scrapper__back {

  display: block;
  decoration: none;
  margin: 1rem;
}

.container__auth {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.auth {
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.auth a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.msg__error{
  color: red;
  text-transform: uppercase;
}
.form__container{
  margin:3rem;
}

.form{
  width: 200px;
  display: flex;
  flex-direction: column;
}
.form > input{
 margin-bottom: 1rem;
}

.logout{
 
 
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid #f2d7ef;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer
}

.container__favorites{
  margin:2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

}

.product{
  background-color: #666;
  padding: 10px;
}